easyocr==1.2.5.1
Jinja2==2.11.3
opencv_python==4.2.0.32
numpy==1.19.3
aiohttp_wsgi==0.8.2
bjoern==3.1.0
Cheetah==2.4.4
cheroot==8.5.2
cherrypy==18.6.0
diesel==3.0.24
eventlet==0.30.2
flup==1.0.3
gevent==21.1.2
gunicorn==20.0.4
Mako==1.1.4
meinheld==1.0.2
PasteScript==3.2.0
protobuf==3.15.5
tornado==6.1
Twisted==21.2.0
ujson==4.0.2
uvloop==0.15.2
waitress==2.0.0
